<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-20 text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-black text-sm underline">Agende um Test Drive hoje mesmo</p>
        </header>

        <footer class="flex flex-grow flex-col justify-end pb-20">
            <div class="gap-x-4 flex mx-auto">
                <a
                    class="border-[3px] rounded font-medium px-12 py-2 bg-zinc-800  text-white hover:bg-cyan-800 transition-colors duration-500"
                    href="#">Explorar Inventário</a
                >

                <a
                    class="border-[3px] rounded font-medium px-12 py-2 bg-zinc-800   text-white hover:bg-cyan-800 transition-colors duration-500"
                    href="#">Pedido Perzonalizado</a
                >
            </div>
        </footer>
    </div>

    <!-- Image ChargeSection -->
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-y.avif" alt="Model Y" class="object-center w-full h-full object-cover">
    </div>
    <!-- Fim div Image -->
</section>
