<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Desfrute de Tesla
            </h2>
            <p class="text-white text-sm">Agende um Test Drive hoje mesmo</p>
        </header>

        <footer class="flex flex-grow flex-col justify-end pb-20">
            <div>
                <a
                    class="text-white border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium px-12 py-2 hover:bg-white hover:text-black transition-colors duration-500"
                    href="#">Agendar Test Drive</a
                >
            </div>
        </footer>
    </div>

    <!-- Video Homepage -->
    <div class="absolute top-0 bottom-0 h-full z-10">
        <video
            class="object-center object-cover"
            src="/video1.webm"
            autoplay
            muted
            loop></video>
    </div>
    <!-- Fim div Video -->
</section>
